body {
     background-color: #eeeeee;
     
}
.login {
     height: 50%;
}

.login form {
     width: 70%;
}
.login i {
     left: -35px;
     background-color: #c8c7c7;
     
}
.login input {
     width: 100%;
     border: 1px solid #c8c7c7;
}
.login .btn {
     background-color: #ff0000;
     width: 100%;
}